// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 900

.red-hat-display-<uniquifier> {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.navbarq {
    background: #009FFF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ec2F4B, #009FFF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.logonavbar {
    width: 75px;
    height: 75px;
}

#oscuro{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

#logo {
    border-radius: 50%;
}